body{
  font-family: monospace;
  font-size: 16px;
}

.section{
  margin:auto;
}

.page{
  margin-top: 8rem;
  width:80%;
}

/* Enrollment form -Start */
ul{
  list-style-type: none;
}

.enrollment_form ul
{
  list-style-position:outside;
    margin:0px;
    padding:10px;
    width: 100%;
}

.enrollment_form li{
  padding :  5px 3px;
  background-color: #e0e0d1;
  border-bottom: solid 1px #f5f5f0;
  margin:2px;
}

.enrollment_form input
{
  width: 40%;
}

.enrollment_form label
{
  float: left;
  display: inline-block;
  width: 200px;
  margin:0px;
}

 input[type="radio"]{
  margin-left:10px;
  padding-left: 10px;
  width: 10%;

}
 label[for="male"],label[for="female"]
{
  float:none;
  margin:0px ;
  padding: 0px;
  width:50px;
}
/* Enrollment form -End */

.header{
  background-color:#e0e0d1;
  height:7rem;
  padding-bottom: 5rem;
  position:fixed;
  width:100%;
  margin-top: -8rem;
}

.image1{
  padding-right:20px;
  padding-bottom:20px;
}

.aboutus{
  flex-direction:column;
}

form, .form{
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  text-align: center;
}

#signinform{
margin-top: 2rem;
}


#loginform,.calendar-panel{
  margin: auto;
  width:70%;
  background-color: #e0e0d1;
}

/*Contact-form*/
.contact-form label{
  width:200px;
}

/*End of Contact-form*/

footer{
  background-color: #e0e0d1;
  height: 4rem;
}

/*booking table*/
table{
  width:100%;
  border:1px solid grey;
}

td{
  border:1px solid grey;
  float:none;
}

.form{
  text-align: left;
}

.panel-title{
  text-align: center;
}

caption{
  text-align: center;
  caption-side: top;
}
/*end of booking table */
